.services-title {
    text-align: center;
    color: blue;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 50px;
}

/* make services responsive */
@media only screen and (max-width:576px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 100px;
        grid-gap: 10px;
    }
}

/* 720px */
/* @media only screen and (max-width:720px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 50px;
    }
} */

/* 912 */

@media only screen and (min-width:577px) and (max-width:912px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 100px;
        grid-gap: 10px;
    }
}